body {
    font-family: Arial, Helvetica, sans-serif;
    /* PALETA DE CORES
    azul vibrante   >>  #3939f5
    azul petróleo   >>  #0C1F4A 
    laranja         >>  #DB3A02
    bege            >>  #FABF75
    caramelo        >>  #885E1E
    branco          >>  #ffffff
    preto           >>  #000000
    */
    background: #ffffff;
}

#nav-bar {
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: #3939f5;
    display: flex;
    border-radius: 15px;
}

#nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav-bar li {
    float: left;
}

#nav-bar li a {
    display: flex;
    padding: 10px 20px;
    color: #FABF75;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

#nav-bar li a:hover {
    background-color: #ffffff;
    color: #DB3A02;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    width: 30px;
    height: 4px;
    margin: 5px 0;
    background-color: #ffffff;
    color: #000000;
}

/* Deixando as NAV responsiva */
@media screen and (max-width: 768px) {
    #nav-bar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    /* Ícone de hamburguer */
    .menu-icon {
        display: flex;
    }

    #nav-bar ul.active {
        display: flex; /* mostra os links ao clicar*/
    }

    #nav-bar li {
        width: 100%;
        margin: 10px 0;
    }

    #nav-bar li a {
        font-size: 18px;
    }
}

.apresentation {
    display: flex;
    flex-direction:row;
    font-size: 16px;
    text-align: justify;
    color: #000000;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: auto;
    max-width: 1200px;
    margin: 20px auto;
    transition: 0.3;
}

.welcome {
    display: flex;
    flex-direction: column;
    background-color: #FABF75;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 33%;
    margin: 0 20px;
}

.about-us {
    display: flex;
    flex-direction: column;
    background-color: #DB3A02;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 33%;
    margin: 0 20px;
}

.about-app {
    display: flex;
    flex-direction: column;
    background-color: #885E1E;;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 33%;
    margin: 0 20px;
}

/* Deixando as DIVs responsivas */
@media(max-width: 768px) {
    .apresentation {
        flex-direction: column;
        width: 90%;
    }

    .welcome, .about-us, .about-app {
        width: 90%;
        margin: 10px 0;
    }
}

/* Criando animação de zoom */
@keyframes zoomIn{
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/* Adicionando animação de zoom para as DIVs */
.apresentation,.welcome,.about-app,.about-us {
    animation: zoomIn 2s ease-in-out;
}
