html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* PALETA DE CORES
    azul vibrante   >>  rgb(57, 57, 245)
    azul petróleo   >>  rgb(12, 31, 74)
    laranja         >>  rgb(219, 58, 2)
    bege            >>  rgb(250, 191, 117)
    branco          >>  rgb(255, 255, 255)
    preto           >>  rgb(0, 0, 0)
    */
    background: rgb(255, 255, 255);
}

section {
    margin: 5rem auto;
    text-align: center;
    justify-content: center;
}

#nav-bar {
    position: fixed;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 58, 2);
    display: flex;
    border-radius: 1rem;
    top: 0;
    z-index: 1000;
    border-color: 1rem linear-gradient(to right #ffffff #000000,);
    border-style:groove;
    margin-bottom: 10rem;
}

#nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav-bar li {
    float: left;
}

#nav-bar li a {
    display: flex;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: clamp(1.3rem, 1.5vw, 2vw);
    font-weight: bold;
}

#nav-bar li a:hover {
    background-color: rgba(0, 0, 0, 0.171);
    color: rgb(255, 255, 255);
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 5px;
    margin: 5px 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* Deixando as NAV responsiva */
@media screen and (max-width: 768px) {
    #nav-bar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    /* Ícone de hamburguer */
    .menu-icon {
        display: flex;
    }

    #nav-bar ul.active {
        display: flex; /* mostra os links ao clicar*/
    }

    #nav-bar li {
        width: 100%;
        margin: 10px 0;
    }
a
    #nav-bar li a {
        font-size: 1rem;
    }

    #nav-bar {
        width: 95%;
        margin-left: 1.8%;
    }
}

.home {
    display: flex;
    flex-direction:row;
    font-size: clamp(.8vw, 1.3vw, 1.8vw);
    text-align: justify;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: auto;
    max-width: 1200px;
    transition: 0.3;
    scroll-margin-top: 200px;
}

.welcome {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 191, 117);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 33%;
    margin: 0 20px;
}

.about-us {
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 58, 2);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 33%;
    margin: 0 20px;
}

.about-app {
    display: flex;
    flex-direction: column;
    background-color: rgb(57, 57, 245);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 33%;
    margin: 0 20px;
}

.about-content {
    flex: 1; /* Ocupa o espaço restante */
    max-width: 50%; /* Garante que o texto não ultrapasse metade da tela */
    width: clamp(50vw, 90vw, 100%);
    padding: 2vw;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0.7rem 0.7rem 5rem rgb(57, 57, 245);
}


.about-home {
    display: flex;
    flex-direction: row;
    font-size: clamp(1rem, 1.5vw, 2vw);
    text-align: justify;
    border-radius: 1rem;
    border: none;
    align-items: center;
    justify-content: space-between; /* Separa os elementos dentro da seção */
    gap: 3rem; /* Espaço entre os itens */
    padding: clamp(1.7rem, 2vw, 3rem);
    width: 80%;
    max-width: 1800px; /* Limita a largura máxima */
    margin: auto;
    transition: 0.3;
    background-color: rgb(12, 31, 74);
    box-shadow: 0.8rem 0.8rem 5rem rgba(0, 0, 0, 0.7);
    scroll-margin-top: 60px;
}
/* Deixando as DIVs responsivas */
@media(max-width: 768px) {
    .home, .about-home {
        flex-direction: column;
        width: 90%;
    }

    .welcome, .about-us, .about-app {
        width: 90%;
        margin: 10px 0;
    }
}

/* Criando animação de zoom */
@keyframes zoomIn{
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/* Adicionando animação de zoom para as DIVs */
.home, .about-home, .welcome, .about-app, .about-us {
    animation: zoomIn 2s ease-in-out;
}

/* formatação de imagem com modal */
#company-img {
    width: clamp(400px, 30vw, 800px);
    max-width: 90vw;
    height: auto;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3;
    box-shadow: 0.7rem 0.7rem 5rem rgb(57, 57, 245);
}

#company-img:hover{opacity: 0.5;}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    margin-top: clamp(25px, 10%, 150px);
    display: block;
    width: 80%;
    max-width: 50rem;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-weight: bold;
    color: rgb(219, 58, 2);
    padding: 10px 0;
    height: 100px;
}

/* adicionando animação */
.modal-content, #caption {
    animation: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)}
to {transform: scale(1)}
}

.close {
    position: absolute;
    top: clamp(25px, 10%, 70px);
    right: 35px;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: bold;
    transition: 0.2s;
}

.close:focus,
.close:hover {
    color: rgb(219, 58, 2);
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

p, label, button, table {
    font-size: clamp(1.3rem, 1.2vw, 2rem);
}

button {
    margin: auto;
    padding-inline: 35%;
    padding-block: 8%;
    display: flex;
    justify-content: center;
    max-width: 150px;
    border-radius: 1rem;
    border-color: rgb(12, 31, 74);
    border-style: solid;
    border-width: .3rem;
    color: rgb(255, 255, 255);
    background-color: rgb(57, 57, 245);
    box-shadow: .5rem .7rem 2rem rgb(0, 0, 0);
    font-size: clamp(1rem, 1vw, 1.2vw);
    font-weight: bold;
    cursor: pointer;
}


#title, #register, #buy, #sell {
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-shadow: .5rem .5rem 1rem rgb(0, 0, 0);
    font-size: clamp(1.2rem, 1.3vw, 1.8vw);
}

#register-content, #buy-content, #sell-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40%;
    max-width: 400px;
    font-style: italic;
    align-items: center;
    justify-content: center;
}

input {
    width: 170%;
    height: 2%;
    font-size: clamp(1rem, 1.5vw, 2rem);
    border-radius: .5rem;
    border-width: .2rem;
    border-color: rgb(219, 58, 2);
    border-style: solid;
}

#register-form{
    border-radius: 1rem;
    border-color: rgb(250, 191, 117);
    border-width: .8vw;
    background-color: rgb(250, 191, 117, .2);
    width: clamp(350px, 50vw, 700px);
    max-width: 80vw;
    padding: 1rem;
    border-style:groove;
    margin-left: 2rem;
    box-shadow: .5rem .7rem 2rem rgb(219, 58, 2);
    scroll-margin-top: 60px;
}

#buy-form {
    border-radius: 1rem;
    border-color: rgb(12, 31, 74);
    border-width: .8vw;
    background-color: rgb(12, 31, 74, .3);
    width: clamp(350px, 50vw, 700px);
    max-width: 80vw;
    padding: 1rem;
    border-style:groove;
    margin: auto;
    box-shadow: .5rem .7rem 2rem rgb(57, 57, 245);
    scroll-margin-top: 60px;
}

#sell-form{
    border-radius: 1rem;
    border-color: rgb(219, 58, 2);
    border-width: .8vw;
    background-color: rgb(219, 58, 2, .2);
    width: clamp(350px, 50vw, 700px);
    max-width: 80vw;
    padding: 1rem;
    border-style: groove;
    margin-right: 2rem;
    box-shadow: 1rem .7rem 2rem rgb(250, 191, 117);
    scroll-margin-top: 60px;
}

#title-reports{
    background-color: rgb(57, 57, 245);
    width: 40%;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: rgb(250, 191, 117);
    box-shadow: 1rem 1rem 2rem rgb(0, 0, 0);
    font-size: clamp(3.5rem, 1.5vw, 2vw);
}

#reports-table {
    width: clamp(350px, 50vw, 700px);
    max-width: 80vw;
    background-color: rgb(12, 31, 74);
    color: white;
    border-radius: .5rem;
    border-spacing: clamp(.5rem, 1vw, 1rem);
    box-shadow: 1rem .7rem 2rem rgb(0, 0, 0);
    font-size: clamp(1.2rem, 1.3vw, 1.8vw);
    padding: 1rem;
    margin: auto;
}

thead {
    color: rgb(219, 58, 2);
}

th,td {
    border: .3rem solid rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: .5em;
    border-radius: 1rem;
}

#flash-message{
    padding: .5rem;
    width: 130%;
    background-color: rgb(0, 182, 9);
    color: rgb(255, 255, 255);
    font-size: clamp(1rem, 1.5vw, 2vw);
    border-radius: .5rem;
    font-style: bold;
}
