:root {
    --primary-purpuraDeTiro :   #691239;
    --second-clarete        :   #9C0D38;
    --third-verdeMilitar    :   #4E6E58;
    --fourth-loboDaMadeira  :   #D7D9CE;
    --fifth-laranjaClaro    :   #FCD0A1;
}

/* PALETA DE CORES
    Púrpura de Tiro   >>  #691239
    Clarete           >>  #9C0D38
    Verde Militar     >>  #4E6E58
    Lobo da Madeira   >>  #D7D9CE
    Laranja Claro     >>  #FCD0A1
    */