<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="colocar-caminho-css">
</head>
<body>
    <nav>
        <ul>
            <!-- lembrar de usar o url_for nos hrefs -->
            <a href=""></a>Home
            <a href=""></a>Sobre Nós
            <a href=""></a>Cadastro
            <a href=""></a>Compra
            <a href=""></a>Venda
        </ul>
    </nav>
    <h1>Jack Tech Store</h1>
    <h2>Sejam muito Bem-Vindos</h2>
</body>
</html>