<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jack Tech - Store</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav id="nav-bar">
        <div class="menu-icon" onclick="toggleMenu()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul id="nav-links">
            <!-- lembrar de usar o url_for no href de relatórios -->
            <li><a href="#home">Home</a></li>
            <li><a href="#about">Sobre Nós</a></li>
            <li><a href="#register">Cadastro</a></li>
            <li><a href="#buy">Compra</a></li>
            <li><a href="#sell">Venda</a></li>
            <li><a href="url for">Relatórios</a></li>
        </ul>
    </nav>

    <section class="apresentation">
        <div class="welcome">
            <h1 id="title">Bem-vinda à Jack Tech Store</h1>
            <p>Com o nosso sistema de cadastro, você pode facilmente gerenciar 
                o estoque de sua loja. A Jack Tech Sotre oferece uma plataforma 
                intuitiva para cadastrar, atualizar e controlar seus produtos 
                em tempo real.</p>
        </div>
        <div class="about-us">
            <h1 id="title">Resumo: Jack Tech Store</h1>
            <p>A Jack Tech Store é uma loja especializada em produtos de 
                tecnologia, com foco em oferecer o melhor em eletrônicos, 
                informática e acessórios. Nosso objetivo é fornecer um sistema
                eficiente para que você gerencie seu estoque de forma prática
                e organizada.</p>
        </div>
        <div class="about-app">
            <h1 id="title">Sistema de Estoque</h1>
            <p>Nosso sistema é projetado para simplificar o gerencimaento de
                produtos em sua loja. A plataforma é fácil de usar, rápida e
                segura, ajudando você a manter sua loja sempre organizada.
            </p>
        </div>
    </section>

    <section id="about" class="about-apresentation">
        <img id="company-img" src="/static/img/company.webp" alt="Sede da Empresa em Orlando, Flórida">

        <!-- O modal -->
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>

        <div class="about-content">
               <h1 id="title">Jack Tech Store</h1>
               <p>Bem-vindo à Jack Tech Store, sua loja especializada em tecnologia e inovação. 
                   Fundada por Jackson, um apaixonado por tecnologia e formado em BTI com 
                   ênfase em IoT e em Engenharia da Computação, nossa missão é oferecer 
                   o melhor em eletrônicos, informática e acessórios, garantindo que 
                   você tenha acesso às últimas novidades do mundo da tecnologia.</p>
               <p>Buscamos transformar a experiência de compra com um portfólio diversificado
                    e um sistema eficiente de gerenciamento de estoque. Acreditamos que a 
                    tecnologia deve ser acessível, prática e confiável, por isso nos 
                    comprometemos a fornecer não apenas produtos, mas soluções inovadoras
                      para atender às suas necessidades com qualidade e excelência.</p>     
        </div>
    </section>

    <br><br><br><br>

    <section id="default-forms" >
        <h1 id="register">Cadastro de Produtos - Create</h1>
        <form id="register-content">
            <label for="register_name">Nome:</label>
            <input type="text" id="register_name" placeholder="Digite o nome do produto" required><br>

            <label for="register_cost">Custo (R$):</label>
            <input type="number" id="register_cost" step="0.01" placeholder="Digite o custo do produto" required><br>

            <label for="register_amount">Quantidade:</label>
            <input type="number"  id="register_amount" placeholder="Digite a quantidade do produto"><br>

            <label for="register_date">Data:</label>
            <input type="date" id="register_date" placeholder="Digite data de cadastro"><br><br>

            <button type="submit">Cadastrar</button>
            <br>
        </form>
    </section>
    
    <br><br><br><br>

    <section id="default-forms" >
        <h1 id="buy">Compra de Produtos - Update</h1>
        <form id="buy-content">
            <label for="buy_name">Nome:</label>
            <input type="text" id="buy_name" placeholder="Digite o nome do produto" required><br>

            <label for="buy_cost">Custo (R$):</label>
            <input type="number" id="buy_cost" step="0.01" placeholder="Digite o custo do produto" required><br>

            <label for="buy_amount">Quantidade:</label>
            <input type="number"  id="buy_amount" placeholder="Digite a quantidade do produto"><br>

            <label for="buy_date">Data:</label>
            <input type="date" id="buy_date" placeholder="Digite data de compra"><br><br>

            <button type="submit">Enviar</button>
            <br>
        </form>
    </section>

    <br><br><br><br>

    <section id="default-forms" >
        <h1 id="sell">Venda de Produtos - Update</h1>
        <form id="sell-content">
            <label for="sell_name">Nome:</label>
            <input type="text" id="sell_name" placeholder="Digite o nome do produto" required><br>

            <label for="sell_value">Venda (R$):</label>
            <input type="number" id="sell_value" step="0.01" placeholder="Digite o valor de venda" required><br>

            <label for="sell_amount">Quantidade:</label>
            <input type="number"  id="sell_amount" placeholder="Digite a quantidade do produto"><br>

            <label for="sell_date">Data:</label>
            <input type="date" id="sell_date" placeholder="Digite data de venda"><br><br>

            <button type="submit">Enviar</button>
            <br>
        </form>
    </section>

</body>
<script src="/static/javascript/scripts.js"></script>
</html>
