<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatórios</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>
    <nav id="nav-bar">
        <div class="menu-icon" onclick="toggleMenu()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul id="nav-links">
            <!-- lembrar de usar o url_for no href de relatórios -->
            <li><a href="{{ url_for('homepage')}}">Home</a></li>
            <li><a href="{{ url_for('homepage')}}#about">Sobre Nós</a></li>
            <li><a href="{{ url_for('homepage')}}#register-form">Cadastro</a></li>
            <li><a href="{{ url_for('homepage')}}#buy-form">Compra</a></li>
            <li><a href="{{ url_for('homepage')}}#sell-form">Venda</a></li>
            <li><a href="{{ url_for('reportspage')}}">Relatórios</a></li>
        </ul>
    </nav>

    <br>
    
    <section id="select-report">
        <select name="choose-reports" id="choose-reports" onchange="loadReport()">
            <option value="" disabled selected>Selecione um relatório</option> 
            <option value="stock">Estoque</option>
            <option value="sale">Venda</option>
            <option value="buy">Compra</option>
        </select>
    </section>

    <!-- Nesse campo vamos inserir os títulos corretos -->
    <div class="title-tables" id="title-tables"> Relatórios Tabulares </div>

    <br><br><br>

    <table id="reports-table">
        <thead id="reports-head">
            
        </thead>
        <tbody id="reports-tbody">
            <!-- aqui o JS cria a tabela -->
        </tbody>
    </table>
    
      
</body>
<script src="/static/javascript/scripts.js"></script>
</html>
